@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

:root {
  /* FONTS */

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --major-contrast-weight: 600;
  --medium-contrast-weight: 500;
  --minor-contrast-weight: 400;

  /* COLORS */

  /* main scales */
  --primary-clr: #72f2eb;
  --secondary-clr: #06626f;
  --terciary-clr: #c9fff4;

  /* gray scale */
  --primary-black-clr: #0e0e0e;
  --secondary-black-clr: #1a1a1a;
  --terciary-black-clr: #2e2e2e;
  --primary-white-clr: #f7f7f7;
  --secondary-white-clr: #dedede;
  --terciary-white-clr: #9c9c9c;

  /*gradients*/
  --primary-gradient: linear-gradient(to bottom, var(--primary-clr), #38d0c8);
  --secondary-gradient: linear-gradient(to bottom, var(--primary-clr), #28bbb3);
  --terciary-gradient: linear-gradient(
    to bottom,
    var(--primary-white-clr),
    var(--secondary-white-clr)
  );
}

/* ===== NAVBAR ====== */

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

nav {
  background-color: var(--secondary-clr);
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav .logo img {
  height: 1.5rem;
  margin: 0.75rem 1rem;
}

.navbar-links {
  display: none;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-links a {
  color: white;
  font-family: var(--primary-font);
  text-decoration: none;
  font-weight: var(--medium-contrast-weight);
  display: block;
}

.navbar-links ul li {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0.5em;
  display: block;
}

.navbar-links li:active {
  background-color: var(--primary-clr);
}

.navbar-links a img {
  height: 0.6rem;
  transform: translate(25%, 75%);
  position: absolute;
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.active {
  display: flex;
}

/* ==== HEADER ==== */
header {
  min-height: 30rem;
  font-family: var(--primary-font);
  color: white;
  background-color: var(--primary-black-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("/home/pabloide2020/Documentos/SparkleSorrisos/imgs/smile-home.jpg"); */
}

header h1 {
  font-weight: var(--major-contrast-weight);
  font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
  max-width: 10ch;
  line-height: 1.1;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3.5rem;
  min-height: clamp(6rem, 15vw + 2rem, 13rem);
  position: relative;
  padding-top: 0.3rem;
  overflow-y: hidden;
}

.blue-line::before {
  content: "";
  width: 20%;
  height: 0.3rem;
  background-image: var(--secondary-gradient);
  position: absolute;
  top: 0;
  border-radius: 4px;
}

.man-smile {
  display: none;
}

.action-btn {
  text-decoration: none;
  color: var(--primary-black-clr);
  background-image: var(--primary-gradient);
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-weight: var(--medium-contrast-weight);
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

.action-btn:active {
  filter: brightness(150%);
}

.action-btn img {
  transform: translateY(25%);
  height: 1.1rem;
  margin-left: 0.5rem;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dot {
  color: var(--primary-clr);
}

/* ===== Section DIFFERENTIALS ===== */

.differentials {
  margin-top: min(20%, 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-title {
  font-family: var(--primary-font);
  font-weight: var(--major-contrast-weight);
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  position: relative;
}

.secondary-title.blue-line::before {
  height: .35rem;
  width: 3ch;
}

.differentials h3 {
  font-family: var(--primary-font);
  font-weight: var(--major-contrast-weight);
  color: var(--primary-black-clr);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.differentials p {
  font-family: var(--secondary-font);
  font-weight: var(--minor-contrast-weight);
  color: var(--terciary-black-clr);
  line-height: 1.5;
}

p span {
  font-weight: var(--medium-contrast-weight);
  color: var(--primary-black-clr);
}

.bg-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 1em;
}

.differentials .card {
  background-color: var(--primary-white-clr);
  padding: 1.5em;
  margin-top: 2rem;
  max-width: min(90%, 21.875rem);
  min-height: min(80vh, 31.25rem);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.differentials .card::after {
    content: '';
    position: absolute;
    height: .25rem;
    width: 85%;
    background-image: var(--secondary-gradient);
    bottom: 0;
    z-index: 1;
    left: 50;
    transform: translate(0%, -350%);
    border-radius: 4px;
}

.bg-cards::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 80%;
    width: 100%;
    background-color: var(--secondary-clr);
    transform: translateY(calc(-50% + .5em));
}

.middle {
    margin: 0 5vw;
}

/* ======== Section TESTIMONIALS ========== */

.testimonials {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.dps img {
  display: none;
}

.text-testimonials {
  background-color: var(--primary-white-clr);
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.text-testimonials p {
  font-family: var(--secondary-font);
  color: var(--terciary-black-clr);
  line-height: 1.5;
  margin-top: 1.25rem;
  position: relative;
  overflow-y: hidden;
}

.name {
  font-family: var(--primary-font);
  font-weight: var(--medium-contrast-weight);
  color: var(--secondary-clr);
  margin-top: .25rem;
}

.testimonials h2 {
  align-self: center;
}

.testimonials .action-btn {
  width: min(90%, 20rem);
  margin: 0 auto;
}

/*===== specialties =====*/

.specialties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.specialties h2 {
  margin-bottom: 1rem;
}

.specialties img {
  border-radius: 5px;
}

.specialties-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.specialties-cards .card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-clr);
  width: min(45%, 21.25rem);
  padding: .5em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}

.specialties-cards .card::after {
  content: '';
  position: absolute;
  height: 3px;
  width: calc(100% - 1em);
  left: 50;
  bottom: 22.5%;
  background-image: var(--secondary-gradient);
  border-radius: 5px;
}

.specialties .card h3 {
  color: var(--terciary-clr);
  font-family: var(--secondary-font);
  font-weight: var(--medium-contrast-weight);
  font-size: 1.5rem ;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.specialties .card a {
  color: var(--primary-black-clr);
  background-color: var(--primary-white-clr);
  text-decoration: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: var(--primary-font);
}

.specialties .card a:active {
  background-color: var(--primary-clr);
}

/* ======== Section ABOUT ======== */

.about {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: var(--primary-black-clr);
  padding: 1rem;
}

.about-txt h2{
  color: white;
  font-family: var(--primary-font);
}

.about-txt p {
  color: var(--terciary-white-clr);
  font-family: var(--secondary-font);
  line-height: 1.5;
  margin-top: .75rem;
  margin-bottom: 1.75rem;
}

.about-txt {
  position: relative;
}

.about-txt p span {
  color: var(--secondary-white-clr);
}

.icon-txt h3 {
  color: white;
  font-family: var(--primary-font);
  font-weight: var(--major-contrast-weight);
  margin-left: 1rem;
}

.icon-txt {
  display: flex;
  align-items: center;
}

.icon-txt img {
 min-width: 38px;
}

.border-line {
  height: 2px;
  width: min(70%,320px);
  background-color: var(--secondary-black-clr);
  margin: 1rem 0;
}

.about .action-btn {
  margin-top: 3rem;
}

.building {
  display: none;
}